
		
		<div class="service">
		
			<!-- Start service -->
			<div class="container">
				<h2 class="head">Qu'est ce qu'E-protect</h2>	
                <p class="para">E-protect est un bouquet de service pour sécuriser votre maison contre les cambriolages.</p>			
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<!-- Service Item -->
						<div class="service-item">
							<!-- Service Icon -->
							<i class="fa fa-rss"></i>
							<!-- Heading -->
                            <a href="#.product"><h3>Accès à distance</h3></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<!-- Service Item -->
						<div class="service-item">
							<i class="fa fa-check-square-o"></i>
							<a href="#.product2"><h3>Ergonomique</h3></a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<!-- Service Item -->
						<div class="service-item">
							<i class="fa fa-shield"></i>
							<a href="#.product3"><h3>Toujours protégé</h3></a>
						</div>
					</div>
				</div>
			</div>
			<span id="feature"></span>
		</div>	
			<!-- End Service -->

	    <!-- Start Product -->
    <div class="product">
        <div class="container">
            <!-- Product heading and paragraph -->
            <h2 class="head">Accès à distance</h2>
            <p class="para"></p>
            <div class="product-content">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <!-- Product Item list -->
                        <p>Avec E-protect vous serez connecté en permanence avec votre foyer grace à la protection vidéo et votre session E-protect</p>
                        <div class="sub-item">
                            <div class="item">
                                <i class="fa fa-check-square-o"></i>
                                <span>Caméras toujours à l'affut du moindre mouvement</span>
                            </div>

                            <div class="item">
                                <i class="fa fa-check-square-o"></i>
                                <span>Votre session toujours à jour via des rapports réguliers</span>
                            </div>
                            <div class="item">
                                <i class="fa fa-check-square-o"></i>
                                <span>Vérifiez l'état de votre système en temps réel</span>
                            </div>
                            <div class="item">
                                <i class="fa fa-check-square-o"></i>
                                <span>Des alarmes connectés en permanence à votre unité centrale et votre session</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6">
                        <!-- Carousel for Product -->
                        <div id="carousel-example-generic" class="carousel slide">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <!-- Carousel Image -->
                                    <img src="img/disclamer_1.jpg" class="img-responsive" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span id="ptable"></span>
    </div>

    <!-- End Product -->


    	    <!-- Start Product -->
<div class="product2">
    <div class="product">
        <div class="container">
            <!-- Product heading and paragraph -->
            <h2 class="head">L'ergonomie s'installe dans votre maison</h2>
            <p class="para"></p>
            <div class="product-content">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <!-- Product Item list -->
                        <p>Des alarmes dissuasives ou discrètes mais toujours design</p>
                        <div class="sub-item">

                            <div class="item">
                                <i class="fa fa-check-square-o"></i>
                                <span>Un design soigné et épuré sur tout nos produits</span>
                            </div>
                            <div class="item">
                                <i class="fa fa-check-square-o"></i>
                                <span>Des caméras dissuasives pour décourager les cambriolleurs</span>
                            </div>
                            <div class="item">
                                <i class="fa fa-check-square-o"></i>
                                <span>Choisissez vous même où placer vos caméras</span>
                            </div>
                            <div class="item">
                                <i class="fa fa-check-square-o"></i>
                                <span>Des alarmes et caméras qui se fondent dans la décoration de votre maison</span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6">
                        <!-- Carousel for Product -->
                        <div id="carousel-example-generic" class="carousel slide">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <!-- Carousel Image -->
                                    <img src="img/disclamer_2.png" class="img-responsive" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span id="ptable"></span>
    </div>
    </div>

<!-- End Product -->

    	    <!-- Start Product -->
<div class="product3">
    <div class="product">
        <div class="container">
            <!-- Product heading and paragraph -->
            <h2 class="head">Toujours protégé quoi qu'il arrive</h2>
            <p class="para"></p>
            <div class="product-content">
                <div class="row">
                    <div class="col-md-5 col-sm-6">
                        <!-- Product Item list -->
                        <p>Une longueur d'avance en matière de gestion d'alarmes et de caméras grace à des technologies de nouvelle génération ne laissant aucune chance aux cambrioleurs</p>
                        <div class="sub-item">

                            <div class="item">
                                <i class="fa fa-check-square-o"></i>
                                <span>Un système résistant aux coupures de courant</span>
                            </div>

                            <div class="item">
                                <i class="fa fa-check-square-o"></i>
                                <span>Un réseau autonome et sécurisé</span>
                            </div>

                            <div class="item">
                                <i class="fa fa-check-square-o"></i>
                                <span>Un système pouvant se passer de connexion internet pour vous tenir averti</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-6">
                        <!-- Carousel for Product -->
                        <div id="carousel-example-generic" class="carousel slide">

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <!-- Carousel Image -->
                                    <img src="img/disclamer_3.jpg" class="img-responsive" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span id="ptable"></span>
    </div>
</div>

<!-- End Product -->

	  



<div class="service">
    <div class="service1 col-md-offset-1">
        <div class="container ">
            <div class="row">
                <div class="col-md-9 col-md-3">
                    <div class="form-login">
                        <h2>Loggez vous !</h2>
                        <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="Nom d'utilisateur" />
                        </br>
                        <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="Mot de passe" />
                        </br>
                        <div class="wrapper">
                            <span class="group-btn">
                                <a href="perso.html" class="btn btn-primary btn-md">Login <i class="fa fa-sign-in"></i></a>
                            </span>
                        </div>
                    </div>

                </div>


                <div class="col-md-5 col-lg-push-2 text-center">

                    <h2>Protégez-vous !</h2>

                    <li class="list-group-item"><i class="icon-ok text-info"></i>Toute la sécurité qu'il vous faut</li>
                    <li class="list-group-item"><i class="icon-ok text-info"></i>Choisissez vous-même votre degré de protection</li>
                    <li class="list-group-item"><i class="icon-ok text-info"></i>Support 24/7</li>

                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-info" href="shop.html">Accès boutique</a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


